.header {
  /* position: fixed;
  width: 100%;
  left: 0;
  top: 0; */
}

.footer {
  position: fixed;
  height: 64px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0px;
  background-color: #001529;
  color: white;
}

.list-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.list-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}